# FinchHealth Assessment
**By:** ***Abodunde Ojo***

#### Import necessary libraries and connect to the postgres engine

In [1]:
from sqlalchemy import create_engine, inspect
import pandas as pd
import numpy as np
import spacy
import re
from nltk.corpus import wordnet

nlp = spacy.load('en_core_web_md')# Load spaCy's English language model with NER

import warnings
warnings.filterwarnings("ignore")

In [2]:
engine = create_engine('postgresql://niphemi.oyewole:W7bHIgaN1ejh@ep-delicate-river-a5cq94ee-pooler.us-east-2.aws.neon.tech/Vetassist')
engine

Engine(postgresql://niphemi.oyewole:***@ep-delicate-river-a5cq94ee-pooler.us-east-2.aws.neon.tech/Vetassist)

##### Let us check all the tables in the engine before importing the data

In [3]:
inspector = inspect(engine)

# Get a list of all table names in the database
table_names = inspector.get_table_names()

# Print the list of table names
print("Tables in the database:")
for table_name in table_names:
    print(table_name)

Tables in the database:
reddit_usernames
reddit_usernames_comments

We only need the reddit_usernames_comments table for this task. Therefore, we will load only that table

In [4]:
# Execute a sample query
df = pd.read_sql('SELECT * FROM reddit_usernames_comments', con=engine)

# Display the first few rows of the DataFrame
df.head()

engine.dispose()

Let us look at a sample comment

In [5]:
df.comments[0]

'Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.|Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.'

The comments seem repeated One of the things we will do is clean each comment to remove repetition. As we can see, each repetition seems to be split by "|". We will split on this delimiter and return only the first one. **For this we can write a simple function** but before then,we can check this assumption.

**Assert**: We can check to confirm that the comments are indeed repeated

In [6]:
data = df.comments[1].split("|")
assert data[0] == data[1] == data[2]

**Result**: As we can see, an assertion error does not occur. We can then assume that this is the structure of the comments for all comments in the table

In [7]:
def trim_comments(x):
    data = x.split("|")
    data = data[0] #That is, extract only the first instance of the comment.
    return data

In [8]:
#Let us see how it works
data = trim_comments(df.comments[0])
data

'Female, Kentucky.  4 years out. Work equine only private practice. Base salary $85k plus bonuses/production which was $20k 2023. 6 days a week Jan-June/July then variable in the off season. No limit on PTO - took ~5 weeks last year. One paid conference a year (registration/travel/ 1/2 hotel/ transportation) or online CE program. All licensures & professional group fees covered. Cell phone allowance and mileage reimbursement.'

###### We can subsequently apply this trimming to the whole dataset.

In [9]:
df["trimmed_comments"] = df["comments"].apply(trim_comments)

In [10]:
df

,username,comments,created_at,tags,url,trimmed_comments
0,LoveAGoodTwist,"Female, Kentucky. 4 years out. Work equine on...",2024-05-18 22:37:09.776679,[],n/a,"Female, Kentucky. 4 years out. Work equine on..."
1,wahznooski,"As a woman of reproductive age, fuck Texas|As ...",2024-05-18 22:37:09.776679,[],n/a,"As a woman of reproductive age, fuck Texas"
2,Churro_The_fish_Girl,what makes you want to become a vet?|what make...,2024-05-18 22:37:09.776679,[],n/a,what makes you want to become a vet?
3,abarthch,"I see of course there are changing variables, ...",2024-05-18 22:37:09.776679,[],n/a,"I see of course there are changing variables, ..."
4,queerofengland,"Contrary to employers' belief, at will does no...",2024-05-18 22:37:09.776679,[],n/a,"Contrary to employers' belief, at will does no..."
...,...,...,...,...,...,...
3271,B1u3Chips_,I’m looking into applying for veterinary nursi...,2024-05-18 22:37:09.776679,[],n/a,I’m looking into applying for veterinary nursi...
3272,Daktari2018,Good for you for sticking to standards of care...,2024-05-18 22:37:09.776679,[],n/a,Good for you for sticking to standards of care...
3273,Sheepb1,"Yes feel free to ask someone to double check, ...",2024-05-18 22:37:09.776679,[],n/a,"Yes feel free to ask someone to double check, ..."
3274,Elyrath,"Same! Helps massively. Errors can still occur,...",2024-05-18 22:37:09.776679,[],n/a,"Same! Helps massively. Errors can still occur,..."
3275,Real_Use_3216,It’s no different than undergrad. School is sc...,2024-05-18 22:37:09.776679,[],n/a,It’s no different than undergrad. School is sc...

#### Drop the initial comments column only

In [11]:
df1 = df.drop("comments", axis =1)

In [12]:
df1

,username,created_at,tags,url,trimmed_comments
0,LoveAGoodTwist,2024-05-18 22:37:09.776679,[],n/a,"Female, Kentucky. 4 years out. Work equine on..."
1,wahznooski,2024-05-18 22:37:09.776679,[],n/a,"As a woman of reproductive age, fuck Texas"
2,Churro_The_fish_Girl,2024-05-18 22:37:09.776679,[],n/a,what makes you want to become a vet?
3,abarthch,2024-05-18 22:37:09.776679,[],n/a,"I see of course there are changing variables, ..."
4,queerofengland,2024-05-18 22:37:09.776679,[],n/a,"Contrary to employers' belief, at will does no..."
...,...,...,...,...,...
3271,B1u3Chips_,2024-05-18 22:37:09.776679,[],n/a,I’m looking into applying for veterinary nursi...
3272,Daktari2018,2024-05-18 22:37:09.776679,[],n/a,Good for you for sticking to standards of care...
3273,Sheepb1,2024-05-18 22:37:09.776679,[],n/a,"Yes feel free to ask someone to double check, ..."
3274,Elyrath,2024-05-18 22:37:09.776679,[],n/a,"Same! Helps massively. Errors can still occur,..."
3275,Real_Use_3216,2024-05-18 22:37:09.776679,[],n/a,It’s no different than undergrad. School is sc...

##### Next we preporcess the Dataset.
This includes lowercase conversion, and removal of stopwords and special characters.

In [13]:
#We define the preprocessing function

import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

def preprocess_text(text):
    text = text.lower() #lowercase conversion
    text = re.sub(r'[^a-zA-Z\s]', '', text) #removal of special characters
    tokens = word_tokenize(text) #tokenization of the text
    
    stop_words = set(stopwords.words('english')) #load the stopword instance
    filtered_tokens = [token for token in tokens if token not in stop_words] #remove stopwords
    
    preprocessed_text = ' '.join(filtered_tokens) # Join the tokens back into a single string
    
    return preprocessed_text

In [14]:
df1["processed_text"] = df1["trimmed_comments"].apply(preprocess_text)

In [15]:
df1

,username,created_at,tags,url,trimmed_comments,processed_text
0,LoveAGoodTwist,2024-05-18 22:37:09.776679,[],n/a,"Female, Kentucky. 4 years out. Work equine on...",female kentucky years work equine private prac...
1,wahznooski,2024-05-18 22:37:09.776679,[],n/a,"As a woman of reproductive age, fuck Texas",woman reproductive age fuck texas
2,Churro_The_fish_Girl,2024-05-18 22:37:09.776679,[],n/a,what makes you want to become a vet?,makes want become vet
3,abarthch,2024-05-18 22:37:09.776679,[],n/a,"I see of course there are changing variables, ...",see course changing variables dimension change...
4,queerofengland,2024-05-18 22:37:09.776679,[],n/a,"Contrary to employers' belief, at will does no...",contrary employers belief actually mean fired ...
...,...,...,...,...,...,...
3271,B1u3Chips_,2024-05-18 22:37:09.776679,[],n/a,I’m looking into applying for veterinary nursi...,im looking applying veterinary nursing college...
3272,Daktari2018,2024-05-18 22:37:09.776679,[],n/a,Good for you for sticking to standards of care...,good sticking standards care caring enough spe...
3273,Sheepb1,2024-05-18 22:37:09.776679,[],n/a,"Yes feel free to ask someone to double check, ...",yes feel free ask someone double check used wo...
3274,Elyrath,2024-05-18 22:37:09.776679,[],n/a,"Same! Helps massively. Errors can still occur,...",helps massively errors still occur signficantl...
3275,Real_Use_3216,2024-05-18 22:37:09.776679,[],n/a,It’s no different than undergrad. School is sc...,different undergrad school school

In [16]:
maximum_similarity = []
for word in df1["processed_text"][0].split():
    maximum_similarity.append(nlp("veterinarian").similarity(nlp(word)))

In [17]:
max(maximum_similarity)

1.0000000713113224

### Let us restate the Task Requirements
**Main Task:** Create a classifier that will accurately classify a list of reddit comments into the proper labels.

**Additional criteria:**

Your classifier should run through this list and determine if they are of these categories:

**Medical Doctor**
These should only include practicing doctors, medical school students or nurses or medical professionals who aren’t doctors should go into the “other” label

**Veterinarian**
These should only include practicing vets, vet students or vet techs should go into the “other” label

**Other**

### Considerations

The task itself has asked for a classifier. Now, ***classifiers*** in the context of machine learning could mean to create a classification algorithm like a logistic regression or a neural network that would automatically assign values to the text data based on a pretrained knowledge. However, to achieve this task, some sort of labelling must have been done. Since we do not have labels, we can autogenrate labels using different methods. ***we will get back to this shortly***.

This leads us to the second task which is autogenerating labels for each comment based on the stringent rules that have been set. There are multiple ways to go about this. We will focus on four and choose the best two for this task.

***Manual Labelling***: *This involves manually reading each Reddit comment and assigning the appropriate label based on its content or context. We have over 3000 comments. This is unrealistic*

***Semi-Supervised Learning***: *This involves manually labelling a small subset of the dataset. Afterwards we can use semi-supervised learning techniques to bootstrap the labeling process. The manual intervention might also defeat the purpose of the task*

***Named Entity Recognision (NER)/Cosine Similarity***: *This can be an effective approach for labeling Reddit comments, especially  since we're interested in identifying specific entities mentioned in the comments. NER can automatically identify and classify named entities such as persons, organizations, locations, dates, and more within text data. This will also involve semantic similarity checks that we can do on the dataset*

***Regular Expression***: *This involves setting a classification criteria and looping through each of the comments to check if the classification criteria is correct*

***We will focus on synthesizing the last two approaches for a robust outcome***

### Labelling The Comments

But first, let us define the functions

In [18]:
#initialise key words to check and drop
medical_doctor_regex = re.compile(r'\b(medical student|nurse)\b', flags=re.IGNORECASE)
    
veterinarian_regex = re.compile(r'\b(vet student|vet tech)\b', flags=re.IGNORECASE)

def other_words_check(comment, keyword):
    """
    This function uses regular expression to implement a check to see if a particular buzz word is 
    """
    if keyword == 'doctor':
         if medical_doctor_regex.search(comment):
                return True
    elif keyword == 'veterinarian':
        if veterinarian_regex.search(comment):
            return True
    else:
        return False
    
    

def get_related_keywords(word):
    """
    This function is used to get all key words (synonyms and antonyms)
    for a particular word. Since we are trying to remove instances where they are students or nurses, 
    this might come in handy comes in handy. 
    
    """
    
    synonyms = set()
    antonyms = set()

    # Iterate over each synset (a set of synonyms) of the word in WordNet
    for synset in wordnet.synsets(word):
        # Add synonyms of the word
        synonyms.update(synset.lemma_names())

        # Add antonyms of the word (if available)
        for lemma in synset.lemmas():
            if lemma.antonyms():
                antonyms.update(lemma.antonyms()[0].name())

    return synonyms, antonyms




def similarity_check(keyword, x):
    
    keywords = get_related_keywords(keyword)[0] #get all key words and related synonyms
    similarity = []
    sentence = x.split()
    sentence = [word if word in keywords else word for word in sentence] #replacing all synonyms of the keyword with keyword itself
    sentence1 = ' '.join(sentence)#######
    other_inquiry = other_words_check(sentence1, keyword)
    student_synonyms = get_related_keywords("student")[0] #Get all synonyms of student
    
    
    
    for word in sentence:
        if word in student_synonyms or other_inquiry:
                return 0
        else:
            similarity.append(nlp(keyword.lower()).similarity(nlp(word))) #check the similarity between the keyword and each word in the reddit comment
             
    
    similarity = max(similarity) if similarity else 0
    if similarity >=0.70:
        return keyword
    else:
        return 0

In [19]:
sdf = "I am a student vet"

In [20]:
similarity_check(keyword = "veterinarian", x=df1["processed_text"][0])

'veterinarian'

In [21]:
similarity_check(keyword = "veterinarian", x=sdf)

0

**Add new columns to the dataframe**

In [22]:
df1["veterinary_label"] = df1["processed_text"].apply(lambda row: similarity_check(keyword = "veterinarian", x = row))

In [23]:
df1["doctor_label"] = df1["processed_text"].apply(lambda row: similarity_check(keyword = "doctor", x = row))

In [24]:
df1.veterinary_label.value_counts()

0               3019
veterinarian     257
Name: veterinary_label, dtype: int64

In [25]:
df1

,username,created_at,tags,url,trimmed_comments,processed_text,veterinary_label,doctor_label
0,LoveAGoodTwist,2024-05-18 22:37:09.776679,[],n/a,"Female, Kentucky. 4 years out. Work equine on...",female kentucky years work equine private prac...,veterinarian,0
1,wahznooski,2024-05-18 22:37:09.776679,[],n/a,"As a woman of reproductive age, fuck Texas",woman reproductive age fuck texas,0,0
2,Churro_The_fish_Girl,2024-05-18 22:37:09.776679,[],n/a,what makes you want to become a vet?,makes want become vet,0,0
3,abarthch,2024-05-18 22:37:09.776679,[],n/a,"I see of course there are changing variables, ...",see course changing variables dimension change...,0,0
4,queerofengland,2024-05-18 22:37:09.776679,[],n/a,"Contrary to employers' belief, at will does no...",contrary employers belief actually mean fired ...,0,0
...,...,...,...,...,...,...,...,...
3271,B1u3Chips_,2024-05-18 22:37:09.776679,[],n/a,I’m looking into applying for veterinary nursi...,im looking applying veterinary nursing college...,veterinarian,0
3272,Daktari2018,2024-05-18 22:37:09.776679,[],n/a,Good for you for sticking to standards of care...,good sticking standards care caring enough spe...,0,0
3273,Sheepb1,2024-05-18 22:37:09.776679,[],n/a,"Yes feel free to ask someone to double check, ...",yes feel free ask someone double check used wo...,0,0
3274,Elyrath,2024-05-18 22:37:09.776679,[],n/a,"Same! Helps massively. Errors can still occur,...",helps massively errors still occur signficantl...,0,0
3275,Real_Use_3216,2024-05-18 22:37:09.776679,[],n/a,It’s no different than undergrad. School is sc...,different undergrad school school,0,0

In [26]:
df1.doctor_label.value_counts()

0         3095
doctor     181
Name: doctor_label, dtype: int64

### Let us Assign a final Label

With the way we have structured the logic, there are possible instances where the check would pass for both veterinarian and doctor. We will prioritize veterinarian in these scenarios, We can write a simple function for this

In [27]:
def label_assignment(row):
    veterinary_label = str(row["veterinary_label"])
    doctor_label = str(row["doctor_label"])
    
    if veterinary_label == "0" and doctor_label == "0":
        return "others"
    elif veterinary_label != "0" and doctor_label != "0":
        return veterinary_label
    else:
        return doctor_label if doctor_label != "0" else veterinary_label

# Here we apply the label_assignment function to create a new column
df1["label"] = df1.apply(label_assignment, axis=1)

In [28]:
# The distribution of the labels in the dataset
df1.label.value_counts()

others          2874
veterinarian     257
doctor           145
Name: label, dtype: int64

In [29]:
#Save the dataset to a datafram

df1.to_csv("reddit_labelled.csv")

### Extreme Gradient Boosting (XGBoost) Algorithm
Since we have our lable, we can look to train (basic model, no tuning) labelled data  on a subset of the dataset and check the performance on the test set

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [31]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df1["processed_text"], df1["label"], test_size=0.2, random_state=42)

In [43]:
# Vectorize the preprocessed comments
vectorizer = TfidfVectorizer()
X_train_vectorized = vectorizer.fit_transform(X_train)
X_test_vectorized = vectorizer.transform(X_test)

In [33]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode the class labels
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

# Initialize XGBoost classifier
classifier = XGBClassifier()

# Train the classifier on the training data
classifier.fit(X_train_vectorized, y_train_encoded)

# Predict on the testing data
y_pred_encoded = classifier.predict(X_test_vectorized)

# Decode the predicted labels
y_pred = label_encoder.inverse_transform(y_pred_encoded)

# Evaluate the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.975609756097561

In [34]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
pd.DataFrame(conf_matrix)

Confusion Matrix:

    0    1   2
0  27    6   1
1   1  562   5
2   0    3  51

In [35]:
# Calculate precision, recall, and F1-score
report = classification_report(y_test, y_pred)
print("Classification Report:")
print(report)

Classification Report:
              precision    recall  f1-score   support

      doctor       0.96      0.79      0.87        34
      others       0.98      0.99      0.99       568
veterinarian       0.89      0.94      0.92        54

    accuracy                           0.98       656
   macro avg       0.95      0.91      0.93       656
weighted avg       0.98      0.98      0.98       656

In [36]:
import joblib

# Save the trained model to a file
joblib.dump(classifier, 'xgboost_model.pkl')

#save the encoder
joblib.dump(label_encoder, 'label_encoder.pkl')

#save the vectorizer
joblib.dump(vectorizer, 'vectorizer.pkl')

['vectorizer.pkl']

##### Save the models into a model pipeline

###### The preprocessing step

In [37]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.base import BaseEstimator, TransformerMixin

# nltk.download('punkt')
# nltk.download('stopwords')

class TextPreprocessor(BaseEstimator, TransformerMixin):
    def __init__(self):
        self.stop_words = set(stopwords.words('english'))

    def fit(self, X, y=None):
        return self  # Nothing to fit

    def transform(self, X):
        # Apply preprocessing to each element in X
        return [self.preprocess_text(text) for text in X]

    def preprocess_text(self, text):
        text = text.lower()  # Convert to lowercase
        text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters
        tokens = word_tokenize(text)  # Tokenize
        filtered_tokens = [token for token in tokens if token not in self.stop_words]  # Remove stopwords
        return ' '.join(filtered_tokens)  # Join tokens back into a single string

##### Label Encoder Step

In [38]:
from sklearn.base import BaseEstimator, TransformerMixin

class LabelDecoder(BaseEstimator, TransformerMixin):
    def __init__(self, encoder):
        self.encoder = encoder

    def fit(self, X, y=None):
        return self  # Nothing to do

    def transform(self, X):
        # Assumes X is a 1D array of labels
        return self.encoder.inverse_transform(X)

###### The Pipeline Itself

In [54]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier

# Initialize components
text_preprocessor = TextPreprocessor()
classifier = joblib.load('xgboost_model.pkl')  # Load your previously saved model

# Define the complete pipeline
pipeline = Pipeline([
    ('text_preprocessor', text_preprocessor),
    ('vectorizer', vectorizer),
    ('classifier', classifier)  # Decoding labels after prediction
])

# Save the complete pipeline
joblib.dump(pipeline, 'complete_text_processing_pipeline.pkl')

['complete_text_processing_pipeline.pkl']

In [48]:
pred = pipeline.predict_proba(["I am a veterinarian"])

In [49]:
pred

array([[1.9317395e-04, 1.3577023e-02, 9.8622978e-01]], dtype=float32)

In [51]:
predicted_class_indices = np.argmax(pred, axis=1)

In [52]:
decoded_predictions = label_encoder.inverse_transform(predicted_class_indices)

In [53]:
decoded_predictions

array(['veterinarian'], dtype=object)